.topnav {
    overflow: hidden;/*height: 50px;*/

}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
    text-decoration: none;/*underline of Name,Contact,About,etc. is removed	*/
  font-size: 17px;
color: red;
}
.topnav a.ap {
  float: right;
}

.topnav a:hover {
  background-color: yellow;
  color: black ;
}

.images {
background-image: url('pic1.jpeg');
min-height: 550px;
background-repeat: no-repeat;
  background-position: center;

  background-size: cover;
  position: relative;/*For nav bar*/
}
.images:hover
{
	opacity: 0.9;
}